@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo global */
body {
  @apply bg-gradient-to-br from-gray-900 via-black to-gray-800 text-white min-h-screen;
}


/* scrollbar invisible  */
.custom-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

@keyframes tunnelMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-tunnel {
  animation: tunnelMove 20s linear infinite;
}

@keyframes floatRotate {
  0% {
    transform: rotate(-5deg) translateY(0);
  }
  50% {
    transform: rotate(5deg) translateY(-5px);
  }
  100% {
    transform: rotate(-5deg) translateY(0);
  }
}

.animate-float {
  animation: floatRotate 3s ease-in-out infinite;
}